.Home {
    border-style: solid;
    border-width: 1px;
    color: #e0e0e0;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.Home button {
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    background-color: #232323;
    border-style: none;
    color: white;
}

.CodingJourneyButton,
.FunFactsButton,
.Top5Button {
    cursor: pointer;
}


.Home button:hover {
    background-color: #2c2c2c;
    color: #ff6f61;
}

.Home button:active {
    background-color: #ff6f61;
    color: white;
}

/**
BODY
 */

.BodyDiv {
    justify-content: center;
    align-items: center;
}

.Content {
    background-color: #232323;
    margin-right: 50px;
}

.Text {
    width: 800px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: inset;
    border-color: #ff6f61;
    border-width: 2px;
    color: #e0e0e0;
}

.Text p {
    font-size: 23px;
    margin-bottom: 30px;
    font-family: Roboto, sans-serif;

}


.AboutmeText {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 20px;


}
.AboutmeText p {
    font-size: 40px;
    color: #cfedf3;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #17a0ff;

}

